body {
    background-color: orange;
  }
  #wrapper {
    /* border: 2px solid black; */
    left: 750px;
    top: 0px;
    color: #91B6FA; /* 타이머 색상 */
    width: 660px; /* 타이머 너비 */
    height: 80px; /* 타이머 높이 */
    font-size: 250px;
  }
  p {
    font-size: 32px;
  }
  button {
    color: white;
    background-color: orange;
    border: 2px solid white;
    font-size: 18px;
    padding: 10px 20px;
    width: 100px;
    margin: 10px;
    cursor: pointer;
  }
  button:hover {
    background-color: white;
    color: orange;
    transition: 0.5s ease;
  }